<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-collapse navbar-collapse-1 collapse" aria-expanded="true">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#fake"><span class="glyphicon glyphicon-home"></span> Home</a>
				</li>
				<li>
					<a href="#fake"><span class="glyphicon glyphicon-bell"></span> Notifications</a>
				</li>
				<li>
					<a href="#fake"><span class="glyphicon glyphicon-envelope"></span> Messages</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-sm-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="media">
						<a class="media-left" href="#fake">
							<img alt="" class="media-object img-rounded" src="http://placehold.it/35x35">
						</a>
						<div class="media-body">
							<div class="form-group has-feedback">
								<input type="text" class="form-control" id="search2" aria-describedby="search">
								<span class="glyphicon glyphicon-camera form-control-feedback" aria-hidden="true"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="media" *ngFor="let tweet of tweets">
						<a class="media-left" href="#fake">
							<img alt="" class="media-object img-rounded" src="{{tweet.profileImage}}">
						</a>
						<div class="media-body">
							<h4 class="media-heading">{{tweet.userName}}</h4>
							<p>{{tweet.text}}</p>
							<ul class="nav nav-pills nav-pills-custom">
								<li><a href="#"><span class="glyphicon glyphicon-retweet"></span>{{tweet.retweetCount}}</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-star"></span>{{tweet.favoriteCount}}</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
